.interface{
	border: 1px solid black;
	height: 500px;
	width: 280px;
	text-align: center;
	border-radius: 20px;
	margin-left: 800px;
	background-color: lightgrey;
	padding-top: 20px;
}

#textbox{
	text-align: right;
	margin-bottom: 2px;
}

#result{
	text-align: right;
}

#b1,#b2,#b3,#badd,#b4,#b5,#b6,#bmin,#b7,#b8,#b9,#Clear,#b0,#bdi,#bmul,#bres{
	padding: 7px 15px;
	border: 1px solid black;
	background-color:pink;
}

.row1{
	padding: 5px;
}

.row2{
	padding: 5px;
}

.row3{
	padding: 5px;
}

.row4{
	padding: 5px;
}

.value{
	width: 50px;
	height: 30px;
	display:inline;
}
.equation{
	display:inline;
}

#solve{
	margin-top:5px;
	margin-left: 2px;
	background-color:pink;
	width: 120px;
}

h1{
	font-family: sans-serif;
}

footer{
	margin-right: 110px;
	margin-top: 10px;
	font-size: 5pt;
}
